@{
    ViewBag.Title = "index";
    Layout = "~/Areas/student/Views/Shared/Slayout.cshtml";
}


<div class="container">
    <div class="row">


        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7453.976668666066!2d30.330841880280822!3d40.742513314782805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccadf2977958d7%3A0xc7996fa884f94c03!2sSakarya+%C3%9Cniversitesi!5e0!3m2!1sen!2str!4v1513255295684" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 " style="text-align:center;">
            <h2>Sakarya Üniversitesi</h2>
            <address>
                Kemalpaşa Mahallesi<br />  Üniversite Caddesi Esentepe Kampüsü<br /> 54050 Serdivan/Sakarya
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
            <address>
                <strong>Support:</strong>   <a href="http://www.sakarya.edu.tr/en">http://www.sakarya.edu.tr/en</a><br />
            </address>
        </div>
    </div>
</div>


